@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: "Montserrat";
    background: linear-gradient( 0deg, rgb(195, 192, 34) 0%, rgb(45, 59, 253) 100%);
    height: 100vh;
}

.bmi {
    width: 20rem;
    background-color: red;
    padding: 1rem;
    border-radius: 0.7rem;
}

h2 {
    font-size: 1.75rem;
    padding:1rem 0;
    font-weight: 600;
}

.box{
    padding:0.3rem;
    margin:1rem;
}

.text {
    text-align: center;
    font-weight: bold;
    color: white;
}

#weight,
#height {
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 199;
    outline: none;
    border: 1px solid black;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

#weight:focus,
#height:focus {
    width: 250px;
    transition: 0.5s;
}

#result {
    color: #341f97;
}

#btn {
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #000;
    background: lightblue;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 600px auto; */
}

tr {
    background: lightgreen;
}

th {
    background: #fff;
    color: #000;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 19px;
}

.flexing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    margin: 6rem 0;
}